
@media (max-width: 760px) {
  #main img{
    height: 30px;
  }

  .header{
    float: left;
    font-size: 2em;
  }

    .header span{
        margin-left: 0px;
    }
  .header input{
      display: none;
  }
.services{
  height: 160vh;
}
  .services h1{
    font-size: 1.5em;
  }

  .services p{
    font-size: .7em;
  }

  .services img{
    height: 100px;
  }

  .myabout{
    height: 170vh;
  }

  .fixedme{
    margin-top:50vh;
  }
  .fixedme li{
    padding: 10px;
    color: black;
    font-size: .7em;
    margin-left: 0;
    text-decoration: none;

    list-style: none;

  }

  footer li{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 2px;
    font-size: 1em;
  }

}
