body {
  margin: 0;
  padding: 0;
  transition: background-color 0.5s;
  background-size: 100%;
  background: url("../img/figma1.png");
  /* background: linear-gradient( #7bbd6785,#ffcc00); */
  background-size: cover;
  overflow-x: hidden;
}
.mgmlogo {
  /* position: absolute; */
  left: 0;
  width: 100%;
  height: auto;
}
.ringlogo {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  width: 150px;
  transition: 1s all;
  border-radius: 50%;
  animation: rotation 30s infinite linear;
}
.ringlogo:hover {
  width: 250px;
  transition: 1s all;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.bg-heading {
  background: #efefef;
  border-top: 15px solid #2e6248;
}
.carousel {
  box-shadow: 3px 3px 10px rgb(17, 17, 17, 0.5);
  border-radius: 10px;
}
.carousel img {
  border-radius: 10px;
}
.mgmHead,
.Links {
  color: #680000;
  /* color: rgb(0, 0, 0); */
  /* text-shadow: .5px 2px 10px rgba(0, 0, 0, .6) */
}
.Links a {
  color: rgb(17, 17, 17);
}
.mgmheader {
  width: 80%;
}
.dropdown-toggle {
  font-size: 1.5em;
  color: snow;
}
.dropdown-toggle:hover {
  color: snow;
}
.yamm {
  /* background: url('../img/nav.png'); */
  background: #d0732e;
  border: 5px solid #2e6248;
  background-size: cover;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.about {
  margin-top: auto;
}
.headers {
  width: 100%;
  padding-bottom: 50px;
  height: auto;
}

.main2 {
  /* position: absolute; */
  width: 100%;
}

.main2-1 {
  background: snow;
}

.main2-2 {
  background: #ffde59;
}
.main2-2 .vd {
  background: snow;
}

.footer1 {
  color: snow;
  background: #680000;
}

.footer2 {
  background: black;
  color: snow;
}
.main3 {
  position: absolute;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #680000;
  /* background: #2E6248; */
  border-radius: 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .headers {
    position: relative;
    height: auto;
  }
  .ringlogo {
    display: none;
  }
  .main2 {
    margin-top: auto;
    position: relative;
  }
  .navbar ul.nav > li.active > a,
  .navbar ul.nav > li.open > a {
    border-top-color: transparent;
  }

  .navbar ul.nav > li > a:hover {
    border-top-color: transparent;
  }
}
.navbar.navbar-light ul.nav > li.active > a {
  border-top: solid 5px #20616d;
  background: #fff !important;
  color: #555555 !important;
}
.navbar.navbar-light ul.nav > li.active > a:hover {
  border-top: solid 5px #20616d;
}
.navbar.navbar-light ul.nav > li > a:hover,
.navbar.navbar-light ul.nav > li.open > a:hover,
.navbar.navbar-light ul.nav > li > a:focus,
.navbar.navbar-light ul.nav > li.open > a:focus {
  border-top: solid 5px #38a7bb;
  background: #fff !important;
  color: #555555 !important;
}
.navbar ul.dropdown-menu {
  margin: 0;
  padding: 0;
}
.navbar ul.dropdown-menu li {
  list-style-type: none;
  border-bottom: solid 1px #eeeeee;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  padding: 4px 0;
}
.navbar ul.dropdown-menu li a {
  position: relative;
  color: #999999;
  font-size: 12px;
  display: block;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  left: 0;
}
.navbar ul.dropdown-menu li a:hover {
  color: #38a7bb;
  text-decoration: none;
  background: none;
  left: 2px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media (max-width: 767px) {
  .navbar ul.dropdown-menu li a:hover {
    left: 0;
  }
}
body {
  /* background: url('../img/img.png'); */
}
.navbar .yamm-content h3 {
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-top: 5px;
  border-bottom: dotted 1px #555555;
  letter-spacing: 0.08em;
}

@media (max-width: 767px) {
  .navbar .yamm-content h3 {
    font-size: 14px;
  }
  .card h5 {
    font-size: 1em;
  }
}
.navbar .yamm-content h5 {
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: dotted 1px #555555;
  letter-spacing: 0.08em;
}
.navbar .yamm-content h4 {
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: dotted 1px #555555;
  letter-spacing: 0.08em;
  font-weight: bold;
}

.navbar .yamm-content ul {
  margin: 0;
  padding: 0;
}
.navbar .yamm-content ul li {
  list-style-type: none;
  border-bottom: solid 1px #eeeeee;
  text-transform: uppercase;
  padding: 4px 0;
}
.navbar .yamm-content ul li a {
  position: relative;
  color: #343638;
  font-size: 12px;
  display: block;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.navbar .yamm-content ul li a {
  padding-left: 10px;
}

.navbar .yamm-content ul a:first-child {
  padding-left: 0px;
  font-weight: bold;
}

.navbar .yamm-content h4 {
  margin-top: 10px;
  font-size: 15px;
  text-decoration: bold;
}
.navbar .yamm-content ul li a:hover {
  color: blue;
  text-decoration: none;
  padding-left: 2px;
  font-weight: bold;
}
.navbar .yamm-content .banner {
  margin-bottom: 10px;
}
.navbar .yamm-fw .dropdown-menu {
  padding: 0;
}

@media (max-width: 768px) {
  .navbar #search form .input-group {
    width: 100%;
  }
  .mgmlogo {
    width: 95%;
    height: auto;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .mgmHead {
    font-size: 2em;
    /* margin-top: 120px; */
  }
}
.navbar #basket-overview a {
  margin-left: 7px;
}
.navbar-affixed-top {
  top: -32px;
}
.navbar-affixed-top.affix-top {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.navbar-affixed-top.affix {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  -webkit-box-shadow: 0 0 5px #cccccc;
  box-shadow: 0 0 5px #cccccc;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

body.boxed .navbar-affixed-top.affix {
  position: static;
}
